[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory={{ k8s.kubelet_work_dir }}
ExecStart={{ k8s.install_dir }}/bin/kubelet \
  --require-kubeconfig \
  --address={{ NODE_IP }} \
  --hostname-override={{ NODE_IP }} \
  --pod-infra-container-image={{ PAUSE_IAMGE }} \
  --experimental-bootstrap-kubeconfig={{ k8s.etc_dir }}/bootstrap.kubeconfig \
  --hairpin-mode hairpin-veth \
  --cert-dir={{ k8s.etc_dir }}/kubelet \
  --network-plugin=cni \
  --cni-conf-dir={{ cni.etc_dir }} \
  --cni-bin-dir={{ cni.install_dir }}/bin \
  --cluster-dns={{ CLUSTER_DNS }} \
  --cluster-domain={{ CLUSTER_DOMAIN }} \
  --allow-privileged=true \
  --cgroup-driver=systemd \
  --experimental-fail-swap-on=false \
  --logtostderr=false \
  --root-dir={{ k8s.kubelet_work_dir }} \
  --log-dir={{ k8s.kubelet_log_dir }} \
  --v=2

#--feature-gates=RotateKubeletClientCertificate=true,RotateKubeletServerCertificate=true 
#--rotate-certificates
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
