
initPass=`grep "password is generated" {{log_err}} | awk '{print $NF}'`
{{mysql.install_dir}}/bin/mysql --connect-expired-password -uroot -p${initPass} -e "alter user 'root'@'localhost' identified by '{{MYSQL_PASSWORD}}';grant all on *.* to 'root'@'%' identified by '{{MYSQL_PASSWORD}}';flush privileges"

