tickTime={{ zk.tick_time }}
# 快照日志目录
dataDir={{ zk.data_dir }}
# 事务日志目录(未配置则存储在dataDir)
dataLogDir={{ zk.transaction_log_dir }}
clientPort={{ zk.client_port }}
initLimit={{ zk.init_limit }}
syncLimit={{ zk.sync_limit }}
maxClientCnxns={{ zk.max_client_connections }}

#autopurge.snapRetainCount 保留的事务日志、快照日志文件数目，默认3个
#autopurge.purgeInterval 清理频率，单位是小时，默认1小时

{#
{% if zookeeper_autopurge_purgeInterval > 0 %}
autopurge.purgeInterval={{ zookeeper_autopurge_purgeInterval }}
autopurge.snapRetainCount={{ zookeeper_autopurge_snapRetainCount }}
{% endif %}
#}

{% for server in zookeeper_hosts %}
{% if server.host is defined %}
{% if server.ip is defined %}
server.{{server.id}}={{server.ip}}:{{zookeeper_cluster_ports}}
{% else %}
server.{{server.id}}={{server.host}}:{{zookeeper_cluster_ports}}
{% endif %}
{% else %}
server.{{loop.index}}={{server}}:{{zookeeper_cluster_ports}}
{% endif %}
{% endfor %}
