{
    "CN": "system:kube-controller-manager",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "hosts": [
      "127.0.0.1",
      "{{ NODE_IP }}"
    ],
    "names": [
      {
        "C": "CN",
        "ST": "SZ",
        "L": "SZ",
        "O": "system:kube-controller-manager",
        "OU": "System"
      }
    ]
}
