[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{ k8s.install_dir }}/bin/kube-scheduler \
  --address=127.0.0.1 \
  --kubeconfig={{ CA_DIR }}/kube-scheduler/kube-scheduler.kubeconfig
  --log-dir={{ k8s.log_dir }} \
  --logtostderr=false \
  --leader-elect=true \
  --v=2

Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
